In [1]:
import pandas as pd

In [2]:
class Find_S:
    def __init__(self,number_of_features):
        
        self.specific_hypothesis = ['0']*number_of_features
    
    def maximaly_specific_hypothesis(self, data, target, positive_label):
        
        print(f"H0 : {self.specific_hypothesis}\n")
        for i in range(data.shape[0]):
                    
            if data.iloc[i][target] == positive_label:
                
                for j in range(data.drop(target,axis=1).shape[1]):

                    if self.specific_hypothesis[j] == '0':
                        self.specific_hypothesis[j] = data.iloc[i][j]

                    elif data.iloc[i][j] != self.specific_hypothesis[j]:
                        self.specific_hypothesis[j] = '?'
                        
            print(f"H{i+1} : {self.specific_hypothesis}")
        
        return self.specific_hypothesis

In [3]:
data = pd.read_csv("./Datasets/data 1.csv")

In [4]:
data.head()

     Sky Air Temperature Humidity    Wind Water Forecast Enjoy Sports
0  Sunny            Warm   Normal  Strong  Warm     Same          Yes
1  Sunny            Warm     High  Strong  Warm     Same          Yes
2  Rainy            Cold     High  Strong  Warm   Change           No
3  Sunny            Warm     High  Strong  Cool   Change          Yes

In [5]:
find_s = Find_S(6)

In [6]:
find_s.maximaly_specific_hypothesis(data,"Enjoy Sports", "Yes")

H0 : ['0', '0', '0', '0', '0', '0']

H1 : ['Sunny', 'Warm', 'Normal', 'Strong', 'Warm', 'Same']
H2 : ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
H3 : ['Sunny', 'Warm', '?', 'Strong', 'Warm', 'Same']
H4 : ['Sunny', 'Warm', '?', 'Strong', '?', '?']

['Sunny', 'Warm', '?', 'Strong', '?', '?']