In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

In [2]:
data = pd.read_csv("./Datasets/data 3.csv")

In [3]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [4]:
X = data.drop("target",axis=1)
y = data["target"]

In [5]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

In [6]:
model = LinearRegression()

In [7]:
model.fit(X_train,y_train)

LinearRegression()

In [8]:
model.predict(X_test)

array([ 0.56257627,  1.16785364,  0.32188565,  0.11060649,  0.15563351,
        1.00793928,  1.16169141,  0.47630126,  0.65713226,  0.60907141,
        1.05317959,  0.64472835,  0.3898922 , -0.03828141, -0.09925379,
        0.49244732,  0.90593095,  0.66778663,  0.07669038,  0.76099414,
        0.92989758,  0.77677404,  0.22718978,  0.19415075,  0.63413787,
        1.04594174,  0.11368049,  0.08376969,  0.94608321,  0.62285696,
        0.23768181,  0.19903066,  0.7272587 ,  0.55029267,  0.65354881,
        0.36495288,  0.7630306 ,  0.185611  ,  0.20079281,  0.61091754,
        0.72720049,  0.84714545,  1.00279139, -0.00905176,  0.74580829,
        0.20829897,  0.10849096,  0.66285114,  0.40882834, -0.16305657,
        0.92014586,  0.76741704,  0.61681287,  0.79333876,  0.79576426,
        0.85512171,  0.99445983,  0.9364164 ,  0.95024009,  0.56500088,
        0.70773034])

In [10]:
model.score(X_test, y_test)

0.5301974796584747