In [7]:
import pandas as pd
from sklearn.decomposition import PCA
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

In [8]:
data = pd.read_csv("./Datasets/data 3.csv")

In [9]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [10]:
X = data.drop("target",axis=1)
y = data["target"]

In [18]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [19]:
X_train.shape,X_test.shape

((242, 13), (61, 13))

In [20]:
ss = StandardScaler()

In [21]:
X_train = ss.fit_transform(X_train)
X_test = ss.transform(X_test)

In [22]:
pca = PCA(n_components=2)

In [23]:
X_train = pca.fit_transform(X_train)
X_test = pca.transform(X_test)

In [24]:
X_train.shape,X_test.shape

((242, 2), (61, 2))

In [25]:
X = data.drop("target", axis=1)
y = data["target"]

In [26]:
le = LabelEncoder()

In [28]:
X = ss.fit_transform(X)
y = le.fit_transform(y)

In [29]:
X_train,X_test,y_train,y_test = train_test_split(X, y, test_size=0.2)

In [30]:
X_train.shape,X_test.shape

((242, 13), (61, 13))

In [35]:
lda = LDA(n_components=1)

In [36]:
X_train = lda.fit_transform(X_train, y_train)
X_test = lda.transform(X_test)

In [37]:
X_train.shape,X_test.shape

((242, 1), (61, 1))